app:
  title: Easy Export
  port: 8000
  host: localhost
  description: Easy Export
  version: 1.0.0
  contact:
    email: changyunjeff@outlook.com
    name: Chang Yun jeff

logging:
  level: DEBUG    # DEBUG, INFO, WARNING, ERROR, CRITICAL
  console_enabled: true
  log_path: "logs/dev.log"
  access_log_path: "logs/access.log"
  error_log_path: "logs/error.log"