app:
  title: Easy Export
  port: 8000
  host: localhost
  description: Easy Export
  version: 1.0.0
  contact:
    email: changyunjeff@outlook.com
    name: Chang Yun jeff

logging:
  level: DEBUG    # DEBUG, INFO, WARNING, ERROR, CRITICAL
  console_enabled: true
  log_path: "logs/dev.log"
  access_log_path: "logs/access.log"
  error_log_path: "logs/error.log"

redis:
  enabled: true
  host: localhost
  port: 6379
  db: 0
  password: null  # 可选，如果有密码则填写
  decode_responses: true
  max_connections: 50
  socket_connect_timeout: 5
  socket_timeout: 5

api:
  prefix: "/api/v1"
  cors:
    enabled: true
    allow_origins:
      - "http://localhost:3000"
    allow_headers:
      - "Content-Type"
      - "Authorization"
    allow_credentials: true
    expose_headers: []
    max_age: 7200
